{% extends 'base.html.twig' %}

{% block title %}Nouvelle Notification{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Notification</h1>

    {{ include('notification/_form.html.twig') }}

    <a href="{{ path('notification_index') }}">Retour à la liste</a>
{% endblock %}
