{% extends 'base.html.twig' %}

{% block title %}Modifier le Compte{% endblock %}

{% block body %}
    <h1>Modifier le Compte</h1>

    {{ include('compte/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('compte_index') }}">Retour à la liste</a>

    {{ include('compte/_delete_form.html.twig') }}
{% endblock %}
