{% extends 'base.html.twig' %}

{% block title %}Nouveau Compte{% endblock %}

{% block body %}
    <h1>Créer un nouveau Compte</h1>

    {{ include('compte/_form.html.twig') }}

    <a href="{{ path('compte_index') }}">Retour à la liste</a>
{% endblock %}
